body {
    font-family: sans-serif;
}

.header {
    height: 4em;
    z-index: 10;
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 0.3em;
}

.centered-header-elem {
    position: relative;
    top: 50%;
    margin-top: -0.6em;
    margin-left: 0.5em;
}

.info-text {
    font-size: 14pt;
}

.control-button {
    width: 1.5em !important;
    height: 1.5em;
}

.control-panel-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.control-panel {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

.radio-name {
    
}

.radio-uri {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.marquee {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1.3em;
    left: 15%;
    right: 25%;
    width: 50%;
    overflow: hidden;
}


/* ================ */
/* = Fake Marquee = */
/* ================ */

/* We need this to float so the dimension will be exactly that of the contents. */
.marquee.fake{
  overflow: hidden;
  position: relative;
  float: left;
}
                    
/* The sliding span */
.marquee.fake span{
  word-wrap: nowrap;                
  display: inline-block;
  position: relative;
  left: -100%;
                
  -moz-animation-name: marquee;
  -webkit-animation-name: marquee;              

  /* Set the duration, s = seconds */
  -moz-animation-duration: 15s;
  -webkit-animation-duration: 15s;      
  
  /* How many times the animation to repeat */
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;                        

  /* Several options available, use linear for this example */
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;     
}
              
/* Stop the marquee on :hover */
.marquee.fake:hover span{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}              
            
@-webkit-keyframes marquee{
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
              
@-moz-keyframes marquee{
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
