<!DOCTYPE html>
<html lang="de">
<head>
    <title>Pi Radio</title>

    {% load staticfiles %}
    {% csrf_token %}

    <link rel="stylesheet" href="{% static "jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" %}" media="screen, projection"/>
    <link rel="stylesheet" href="{% static "css/radio.css" %}" media="screen, projection"/>

    <script src="{% static "jquery-ui-1.10.3.custom/js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
    <script src="{% static "js/comm.js" %}"></script>
    <script src="{% static "js/stationList.js" %}"></script>
    <script src="{% static "js/station.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

</head>
<body>
    <div id="header" class="header">
        <div id="title" style="float: left; margin-left: 0.5em">
            <h2>Pi Radio</h2>
        </div>
        <div class="centered-header-elem" style="float: left;">
            <button id="play" class="control-button" onclick="play( function(data) { console.log(data) } )">Play</button>
        </div>
        <div id="control-info" class="marquee fake centered-header-elem" style="float: left">
            <div class="floater">
                <span id="info-text" class="info-text">// Now playing // Fritz Radio...</span>
            </div>
        </div>
    </div>

    <div id="tabs" style="clear: both">
         <ul>
             <li><a href="#radio-stations">Radio Stations</a></li>
             <li><a href="#tabs-2">Settings</a></li>
             <li><a href="#tabs-3">Status</a></li>
         </ul>
         
         <div id="radio-stations">
                <ul id="station-list" style="list-style-type: none; ">
                    <li class="ui-state-default" id="station-template" style="display: none">
                        <label>Template</label>
                        <input type="text" />
                        <button style="float: right; background: none; border: none; cursor: pointer">
                            <span class="ui-icon ui-icon-close"></span>
                        </button>
                    </li>
                </ul>
         </div>
         
         <div id="tabs-2">
         </div>
         
         <div id="tabs-3">
         </div>
    </div>
</body>
</html>

